body {
	background-color: #a0acad;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.container {
	background-color: #FFFFFF;
	margin: 150PX auto;
	padding: 20px;
	max-width: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

h1 {
	font-size: 26px;
	text-align: center;
	margin-top: 0;
}

p {
	font-size: 17px;
	text-align: center;
	margin-bottom: 20px;
}

label {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 98.7%;
    margin-top: 1%;
  }