{% extends 'registration/base-registration.html' %}
	
{% block title %}Confirmação da Redefinição de senha {% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rSenha.css' %}">
{% endblock %}

{% block content %}
    
    {% if validlink %}

    <div class="container">
        <form class="teste" method="POST">
            {% csrf_token %}
            <h1>Redefinição de Senha</h1>
            <p>Insira sua nova senha abaixo.</p>
            
            <label for="password1"><b>Digite a nova senha:</b></label>
            <input type="password" placeholder="Digite a nova senha" name="new_password1" required>
            
            <label for="password2"><b>Digite a nova senha novamente:</b></label>
            <input type="password" placeholder="Digite a nova senha novamente" name="new_password2" required>
            <button type="submit">Enviar</button>
        </form>
    </div>

    {% else %}

    <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>

    {% endif %}

{% endblock %}