{% extends 'registration/base-registration.html' %}
	
{% block title %}Redefinição de senha{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rSenha.css' %}">
{% endblock %}

{% block content %}

	<div class="container">
		<form class="teste" method="POST">
			{% csrf_token %}
			<h1>Recuperação de Senha</h1>
			<p>Insira seu e-mail abaixo para redefinir sua senha.</p>
			<label for="email"><b>E-mail</b></label>
			<input type="email" placeholder="Digite seu e-mail" name="email" required>
			<button type="submit">Enviar</button>
		</form>
	</div>

	<footer>
		Beeway
	</footer>
	
{% endblock %}