body {
	background-color: #a0acad;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.cadastro-form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 25px auto;
	max-width: 400px;
	padding: 20px;
	width: 100%;
}

.cadastro-form h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.cadastro-form label {
	display: block;
	margin-bottom: 10px;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="datetime-local"] 
{
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.cadastro-form input[type="submit"] {
	margin-top: 5%;
	background-color: #333;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	border-color: transparent;
}

.cadastro-form .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
    display: block;
}

.cadastro-form .options a {
	color: #4285f4;
	text-decoration: none;
}

.cadastro-form .options a:hover {
	text-decoration: underline;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 98.7%;
  }