body {
	background-color: #a0acad;
	font-family: Arial, sans-serif;
}

.login-form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 138px auto;
	max-width: 400px;
	padding: 20px;
	width: 100%;
}

.login-form h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.login-form label {
	display: block;
	margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.login-form input[type="submit"] {
	background-color: #531253;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.login-form input[type="submit"]:hover {
	background-color: #33032f;
}

.login-form .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
    display: block;
}

.login-form .options a {
	color: #4285f4;
	text-decoration: none;
}

.login-form .options a:hover {
	text-decoration: underline;
}

/* Parte de recuperar senha */
.container {
	background-color: #FFFFFF;
	margin: 150PX auto;
	padding: 20px;
	max-width: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

h1 {
	font-size: 26px;
	text-align: center;
	margin-top: 0;
}

p {
	font-size: 17px;
	text-align: center;
	margin-bottom: 20px;
}

label {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

button[type="submit"] {
	background-color: #531253;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

button[type="submit"]:hover {
	background-color: #33032f;
}

/* parte do cadastro */

body {
	background-color: #a0acad;
	font-family: Arial, sans-serif;
}

.cadastro-form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 138px auto;
	max-width: 400px;
	padding: 20px;
	width: 100%;
}

.cadastro-form h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.cadastro-form label {
	display: block;
	margin-bottom: 10px;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="password"] {
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.cadastro-form input[type="submit"] {
	background-color: #531253;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.cadastro-form input[type="submit"]:hover {
	background-color: #33032f;
}

.cadastro-form .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
    display: block;
}

.cadastro-form .options a {
	color: #4285f4;
	text-decoration: none;
}

.cadastro-form .options a:hover {
	text-decoration: underline;
}