{% load static %}
<!DOCTYPE html>
<html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
	{% block head %} {% endblock %}
</head>

<body>
    <header>
		<nav>
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="todos.eventos">Eventos</a></li>
					<li><a href="sobre">Sobre</a></li>
					<li><a href="/accounts/logout">Sair <i class="fa fa-power-off" aria-hidden="true"></i> </a></li>
				</ul>
		</nav>
	</header>  
    
    {% block content %}
    {% endblock %}
	
</body>



</html>