*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
	height:100%;
	box-sizing: border-box;
}
body {
	background-color: white;
	margin: 0;
	min-height: 100%;
	padding-bottom: 6.74rem;
	position: relative;
	box-sizing: inherit;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

h1{
    margin-top: 3%;
    margin-left: 2%;
}

.container#todos{
	background-color: #575757;
	display: flex;
	align-items: center;
	align-content: center;
	border-radius: 5px;
	margin-top: 2%;
	margin-left: 5%;
	width: 15%;
	height: 5%;
}

@media only screen and (max-width: 1000px) {
	.container#todos {
	  width: 25%;
	}
}

a#todos{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 0px auto;
}

.container#ultimos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 5%;
	grid-row-gap: 20%;
	margin: 5% 5% 0px 5%;
}

.evento{
	background-color: #575757;
	border-radius: 15px;
	width: 300px;
	height: 150px;
	color: white;
	display: block;
}

@media only screen and (max-width: 1000px) {
	.evento{
	  width: 100%;
	}
}

h1#name{
	text-align: center;
}

.container#info{
	display: flex;
	justify-content: space-between;
}

p#local{
	margin-left: 10%;
}

p#data{
	margin-right: 10%;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 98%;
  }