{% extends 'base-administrador.html' %}

{% block title %}Descrição do evento{% endblock %}

{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/desc_evento.css' %}">	
{% endblock %}

{% block content %}
	
	<h1 id="evento">{{evento.titulo}}</h1>
	<div class="container" id="bloco">
		<p id="desc">
			<h4>Descrição:</h4>{{evento.descricao}}
			<h4>Local:</h4>{{ evento.local }}
			<h4>Data:</h4> {{ evento.data_e_hora|date:"d/m/Y" }}
			<h4>Hora:</h4> {{ evento.data_e_hora|time:"H:i" }}
		</p>
	</div>
	
	<iframe id="mapaufal" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{evento.local}}+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
		<a href="https://www.maps.ie/distance-area-calculator.html"></a>
	</iframe>

{% endblock %}	