<!DOCTYPE html>
<html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>
<body>
	<header>
		<!-- <div class="flex_caixa"> -->
		<nav>
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="todos.eventos">Eventos</a></li>
					<li><a href="sobre">Sobre</a></li>
					<li><a href="/accounts/logout">Sair <i class="fa fa-power-off" aria-hidden="true"></i> </a></li>
				</ul>
		</nav>
	<!-- </div> -->
	</header>

	<h1>Últimos eventos</h1>
	<div class="container" id="todos">
		<a id="todos" href="todos.eventos">
			<p>Ver todos os eventos</p>
		</a>
	</div>

	<div id="ultimos" class="container">
		{% for eventos in eventos %}
		<div class="evento">
			<h1> 
				<a style="text-decoration: none; color: #fff"href= "desc_evento/{{eventos.id}}">{{eventos.titulo}}</a>
				<a style="text-decoration: none; color: #9CCC65" href= "editar_evento/{{eventos.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				<a style="text-decoration: none; color: #FF6347" href= "deletar_evento/{{eventos.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
			</h1>
			<div class="container" id="info">
				<p>{{eventos.local}}</p>
				<p>{{eventos.data_e_hora}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<div>

	</div>

	<footer>
		Beeway
	</footer>
	
</body>
</html>