{% extends 'base-administrador.html' %}

{% block title %}Todos os eventos{% endblock %}

{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'todos.eventos.css' %}">
{% endblock %}
	
{% block content %}	
	
	<h1>Todos os eventos</h1>
		<div id="y"><p id="search">Pesquisar eventos no site</p></div>
		<div class="container" id="x">
			
			<form method="GET"> 
			<input type="text" id="a" placeholder="Pesquisar" name="search" value="{{request.GET.search}}">
			</form>
			
			<button class="botaoAdd"> <a href="adicionar_evento" style="text-decoration: none; color: #fff">Adicionar Evento </a></button>
		</div>
		
		{% comment %} Procurando as mensagens de sucesso ao terminar uma operação {% endcomment %}
		{% if messages %} 
			<ul class="messages"> 
				{% for message in messages %} 
					<li {% if message.tags %} class="alert alert--{{message.tags}}" {% endif %}> {{message}} </li> 
				{% endfor %}
			</ul>
		{% endif%}
		
		<div id="ultimos" class="container">
			{% for eventos in eventos %}
			<div class="evento">
				<h1> 
					<a style="text-decoration: none; color: #fff" href= "desc_evento/{{eventos.id}}">{{eventos.titulo}}</a>
					<a style="text-decoration: none; color: #9CCC65" href= "editar_evento/{{eventos.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					<a style="text-decoration: none; color: #FF6347" href= "deletar_evento/{{eventos.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</h1> 
				<div class="container" id="info">
					<p>{{eventos.local}}</p>
					<p>{{eventos.data_e_hora}}</p>
				</div>
			</div>
			{% endfor %}
		</div>

{% endblock %}

	{% comment %} PAGINAÇÃO PARA DIVIDIR O CONTEUDO EM PAGINAS 
	<div class="pagination"> 
		<span class="step-links">
			{% if eventos.has_previous %}
				<a href="?page={{eventos.previous_page_number}}"> <i class="fas fa-arrow-left"></i></a>
			{%endif%}
			<span class="current">
				{{ eventos.number }} de {{ eventos.paginator_num_pages }}
			</span>
			{% if eventos.has_next %}
				<a href="?page={{eventos.next_page_number}}"> <i class="fas fa-arrow-right"></i></a>
			{%endif%}
		</span>
	</div> {% endcomment %}