<!DOCTYPE html>
<html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos os Eventos</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'todos.eventos.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
	
</head>
<body>
	<header>
		<!-- <div class="flex_caixa"> -->
		<nav>
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="todos.eventos">Eventos</a></li>
					<li><a href="sobre">Sobre</a></li>
					<li><a href="/accounts/logout">Sair <i class="fa fa-power-off" aria-hidden="true"></i> </a></li>
				</ul>
		</nav>
	<!-- </div> -->
	</header>

	<h1>Todos os eventos</h1>
	<div id="y"><p id="search">Pesquisar eventos no site</p></div>
	<div class="container" id="x">
		
		<form method="GET"> 
		<input type="text" id="a" placeholder="Pesquisar" name="search" value="{{request.GET.search}}">
		</form>
	</div>
	
	<div id="ultimos" class="container">
		{% for eventos in eventos %}
		<div class="evento">
			<h1> 
				<a style="text-decoration: none; color: #fff" href= "desc_evento/{{eventos.id}}">{{eventos.titulo}}</a>
				<a style="text-decoration: none; color: #FFA500" href= "editar_evento/{{eventos.id}}"><i class="fa fa-ticket" aria-hidden="true"></i></a>
			</h1> 
			<div class="container" id="info">
				<p>{{eventos.local}}</p>
				<p>{{eventos.data_e_hora}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	
	{% comment %} PAGINAÇÃO PARA DIVIDIR O CONTEUDO EM PAGINAS 
	<div class="pagination"> 
		<span class="step-links">
			{% if eventos.has_previous %}
				<a href="?page={{eventos.previous_page_number}}"> <i class="fas fa-arrow-left"></i></a>
			{%endif%}
			<span class="current">
				{{ eventos.number }} de {{ eventos.paginator_num_pages }}
			</span>
			{% if eventos.has_next %}
				<a href="?page={{eventos.next_page_number}}"> <i class="fas fa-arrow-right"></i></a>
			{%endif%}
		</span>
	</div> {% endcomment %}

	<footer>
		Beeway
	</footer>

</body>
</html>