{% extends 'base-usuario.html' %}

{% block title %}Voucher{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/voucher.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forma_ingresso.css' %}">
{% endblock %}
    
{% block content %}

    <h1>Voucher</h1>
    <div class="container" id="ingresso">
        <p id="dados"><strong>Ingresso</strong></p>
        <div id="_1" class="forma"></div>
        <div id="_2" class="forma"></div>
        <div id="_3" class="forma"></div>
        <div id="_4" class="forma"></div>
        <div id="_5" class="forma"></div>
        <div id="_6" class="forma"></div>
        <div id="_7" class="forma"></div>
        <div id="_8" class="forma"></div>
        <p id="ingresso"><strong>UFAL</strong></p>
        <p id="data">DD/MM</p>
        <p id="local">Local</p>
        <div id="rigth" class="lateral"></div>
        <div id="left" class="lateral"></div>
    </div>

    <div class="container" id="info">
        <div class="container" id="data">
            <span class="left" id="data">Data</span>
            <span class="rigth" id="data">DD/MM/AAAA</span>
        </div>
        <div class="container" id="local">
            <span class="left" id="local">Local</span>
            <span class="rigth" id="local">Local</span>
        </div>
        <div class="container" id="codigo">
            <span class="left" id="codigo">Código</span>
            <span class="rigth" id="codigo">HuaB16%&1ash!</span>
        </div>
    </div>

    <div class="container" id="rodape">
        <a  id="compartilhar" href="" id="compartilhar">
            <img id="share" src="{% static 'img/share.png' %}"  alt="Compartilhar">
            <figcaption id="compartilhar">Compartilhar</figcaption>
        </a>
        <a id="baixar" href="" id="baixar">
            <img id="share" src="{% static 'img/baixar.png' %}"  alt="Baixar">
            <figcaption id="baixar">Baixar</figcaption>
        </a>
    </div>
    
{% endblock %}
{% comment %}     <footer>
		Beeway
	</footer> {% endcomment %}