*{
  font-family: Arial, Helvetica, sans-serif;
}

.container#x{
  display: flex;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 500px;
  height: 20px;
  margin: 0px 50px;
  margin-bottom: 100px;
}

input#a{
  border-radius: 10px;
  border-width: 1px;
  width: 300px;
  height: 25px;
  background-image: url(busca.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
}

input#a::placeholder{
  text-align: center;
}

div#y{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 98%;
  }